{% extends "testwineBundle::layout.html.twig" %}

{% block body %}

  <h2>Ajouter une bouteille</h2>

  {% include "testwineBundle:Wine:formulaire.html.twig" %}

  <p>
     Attention : cette bouteille sera ajoutée directement
  </p>

{% endblock %}